<div class="body">
    <h1>Anamoly Detection</h1>
    <div class="box">
        <select name="algos" id="algos">
            <option>Regression algorithm</option>
            <option>Hybrid algorithm</option>
        </select>
    </div>
    <div class="fileButtons">
        <div class="without">
            <span>Choose CSV file without anomalies</span>
            <input type="file" name="without" id="without" accept=".CSV">
            <label for="without">Choose file</label>
        </div>
        <div class="with">
            <span>Choose CSV file</span>
            <input type="file" id="with" accept=".CSV">
            <label for="with">Choose file</label>
        </div>
        <div class="start">
            <button id='start'>START</button>
        </div>
    </div>
    <div id="resultsContainer">
        <div>Results:</div>
        <textarea id="results" cols="200" rows="12" disabled readonly></textarea>
    </div>
</div>